@import "../../../imports";

.project {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  margin: $margin 0;
  padding: $margin-mobile;
  box-shadow: 0 0 3px $color-light;
  border-radius: 3px;
  background-color: $color-dark;
  color: $color-white;
  transition: box-shadow .3s ease, background .3s ease;
  cursor: pointer;

  @media #{$media-medium} {
    padding: $margin;
    margin: $margin;
  }

  @include linedShadow();

  &:before, &:after {
    transition: top .2s ease, left .2s ease;
  }

  img {
    max-height: 72px;
    border-radius: 3px;

    @media #{$media-medium} {
      max-height: 128px;
    }
  }

  .text {
    padding-left: 15px;

    h3 {
      display: inline-block;
      padding-bottom: 10px;
      margin: 0;
      transition: color .1s ease;
      white-space: unset;

      &:after {
        z-index: unset;
      }
    }

    markdown {
      display: none;
      margin: 0;

      @media #{$media-medium} {
        display: block;
      }
    }
  }

  &:hover {
    box-shadow: 0 0 5px $color-light;
    background: rgba(0, 0, 0, .8);

    &:before {
      top: 16px;
      left: 16px;
    }

    &:after {
      top: 8px;
      left: 8px;
    }

    .text {
      h3 {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}
