<nav class="nav">
  <div class="nav__wrapper">
    <h1 routerLink="/" class="nav__title nav__title--desktop">Antonín Kříž</h1>
    <h1 routerLink="/" class="nav__title nav__title--mobile">AKeu</h1>
    <div class="nav__menu">
      <a routerLink="/who-am-i" class="nav__link" routerLinkActive="active">Home</a>
      <a routerLink="/about-me" class="nav__link" routerLinkActive="active">CV</a>
      <a routerLink="/projects" class="nav__link" routerLinkActive="active">Projects</a>
    </div>
  </div>
</nav>
<main [@myAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>
