$size-medium: 900px;
$size-big: 1200px;

$media-medium: "screen and (min-width: 992px)";
$media-big: "screen and (min-width: 1921px)";

$margin: 30px;
$margin-mobile: 15px;

$loading-animation: 1.5s;
$loading-z: 1000;

$title-size: 1.5em;
$title-height: 80px;
$title-z: 100;
